.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    z-index:100;
}

.left-section{
    display:flex;
    align-items: center;
}
.hamburger-menu{
    height:25px;
    margin-left:24px;
    margin-right:24px;
    cursor: pointer;

}
.youtube-logo{
    height:20px;
    cursor: pointer;
}
.center-section{
    flex:1; 
    margin-left:70px;
    margin-right:30px;
    max-width:500px;
    display:flex;
    align-items: center;
}
.search-bar{
    height:36px;
    flex:1;
    padding-left: 10px;
    font-size:16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}
.search-bar::placeholder{
    font-family: roboto, arial;
    font-size:16px;
}
.search-button{
    height:40px;
    width:66px;
    background-color: #F7F7F7;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin: left -1px;
    border-radius: 2px;
    margin-right:10px;
    cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-container,
.notification-icon-container-for-tooltip{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-container .tooltip,
.notification-icon-container-for-tooltip .tooltip{
    position:absolute;
    background-color: grey;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius:2px;
    font-size:12px;
    font-family: roboto, arial;
    bottom:-30px;
    opacity:0;
    transition: opacity 0.2s ease-in-out;
    pointer-events:none;
    white-space:nowrap;
    font-family: roboto, arial;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notification-icon-container-for-tooltip:hover .tooltip{
    opacity:1;
}
.search-icon{
    height:25px;
}
.voice-search-button{
    height:40px;
    width:40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245,245,245);
    cursor: pointer;
}
.voice-search-icon{
    height:24px;
    margin-top: 4px;
}
.right-section{
    display:flex;
    align-items: center;
    width:180px;
    margin-right:20px;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon{
    height:24px;
    cursor: pointer;
}
.youtube-app-icon{
    height:24px;
    cursor: pointer;
}
.notifications-icon{
    height:24px;
    cursor: pointer;
}
.notification-icon-container{
    position: relative;
} 
.notifications-count{
    position:absolute;
    top:-2px;
    right:-5px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-family: roboto, Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
}
.current-user-picture{
    height:32px;  
    border-radius: 100%;
    cursor: pointer;
}